# https://learn.hashicorp.com/tutorials/terraform/azure-remote?in=terraform/azure-get-started#update-the-terraform-cloud-environment-variables
azure_subscription_id = ""
azure_tenant_id = ""
azure_client_id = ""
azure_client_secret = ""
